


h1{
    text-align: center;
margin-bottom: 5%;
margin-top: 5%;
}

.container{
    background-color: aqua;
    width: 100%;
    height: 300px;
    position: relative;
}

.items{
border: 2px solid black;
float:left;
width: 30%;

margin-right: 30px;
box-sizing: border-box;

text-align: center;
background-color: rgb(189, 182, 182);
}
p{
    clear: left;
    padding: 0 5px;
}

.container .items:nth-child(2){
    margin-right: 20px;
}
.container .items:nth-child(3){
    margin-right: auto;
}

#name, #name2 ,#name3{
    font-weight: bolder;
    box-sizing: border-box;
    border: 2px solid black;
    float: right;
    
}
#name{
    background-color: pink;
    padding: 1px 15px;
}
#name2{
    background-color: red;
    padding: 1px 25px;
    color: white;
}
#name3{
    background-color: rgb(240, 209, 170);
    padding: 1px 25px;
}

@media (min-width: 768px) and (max-width:991px){
    .container .items:nth-child(1),.container .items:nth-child(2){
        width: 45%;
        margin-bottom: 20px;
    }
    .container .items:nth-child(3){
        width: 93%;
    }
}
@media (max-width:767px){
    .container .items:nth-child(1){
        width: 80%;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .container .items:nth-child(2){
        width:80%;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .container .items:nth-child(3){
        margin-left: 20px;
        width: 80%;
    }
}